.main{
    max-width: 1280px;
    margin: 0 auto;
}
.items{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
    margin-top: 50px;
}
.button_open{
    background-color: #f2f2f2;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    border: 2px solid transparent;
    transition: all 500ms ease;
    max-width: 150px;
    margin-left: 20px;
    margin-bottom: 20px;
    color: black;
}
.button_open:hover{
    border-color: silver;
    transform: scale(1.2);
}